* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
}

#header {
    background: #1E2024;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 40%;
    justify-content: space-between;
    display: flex;
}

a {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #9099A3;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.klb {
    color: #FFFFFF;
}

.google {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.btn {
    padding: 7px 15px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border: none;
    background: #1A5CFF;
    box-shadow: 0px 8px 20px rgba(26, 92, 255, 0.2);
    border-radius: 15px;
}

.gglBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rec {
    display: flex;
    width: 100%;
}

.rec2 {
    position: absolute;
    width: 100%;
    top: 50px;
}

.home h1 {
    position: absolute;
    width: 131px;
    height: 22px;
    left: 989px;
    top: 100px;
    display: flex;
    text-align: left;
}

.btnHome {

}

#choice {
    background: #1E2023;
}

.choice h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
    color: #FFFFFF;
}

.choice p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #9099A3;
    padding-top: 34px;


}

.fio input {
    width: 616px;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: none;


}

.fio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.choice {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.fio {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9099A3;

}

.fio div {
    padding: 15px 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content button {
    width: 280px;
    height: 60px;
    background: #1A5CFF;
    box-shadow: 0px 5px 8px rgba(26, 92, 255, 0.2);
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 35px;
}


#question {
    background: #1E2023;
}
.question{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

}

.question h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.question h2 {
    font-size: 200px;
    color: #1A5CFF;
    padding-left: 30px;

}
.accordion{
    color: #FFFFFF;
    position: relative;

}
.accordion p{
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;

}
.accordion summary{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

}
.accordion details{
    width:900px;
}
.accordion hr{
    margin: 12px 0;
}
.blur{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 900px;
    top: 1400px;
    background: #1A5CFF;
    filter: blur(350px);
}
#footer{
    background: #1E2023;
    padding-top: 100px;
}
.footer-group{
    display: flex;
    justify-content: space-between;
    color: #9099A3;
    line-height: 30px;
}
.footer-group h1{
    color: #FFFFFF;
    padding-bottom: 15px;
}
.footer-four span{
    color: #1A5CFF;
}
.footer-two button{
    width: 100px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    background: #1A5CFF;
    box-shadow: 0px 5px 8px rgba(26, 92, 255, 0.2);
    border-radius: 15px;
    margin-top: 10px;
}
.footer-four input{
    width: 260px;
    height: 40px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin-bottom: 20px;
}
.icon svg{
    padding: 3px;
}
.footer-one img {
    width: 60px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #9099A3;
    padding: 20px 0;
}
.right{
    display:flex ;
    align-items: center;

}
.right img{
    padding: 0 10px;
}
}




