* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 90%;
}
#Kalyi{
    background: #1E2023;
}
.text{
    display: flex;
    padding: 20px 0 10px 70px;
    color: #FFFFFF;
}
.iconTittle{
    width: 460px;
    height: 262px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #2C3E50;
}
.iconTittle h1{
    margin: 10px 30px;
}
.iconTittle p{
    margin: 0 30px 0;
}

.imgTittle{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.btnTittle{
    width: 180px;
    height: 40px;
    margin: 30px 0 0 250px;
    font-size: 18px;
    color: #FFFFFF;
    background: #1A5CFF;
    box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
    border-radius: 15px;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.iconTittle{
    margin: 20px 0 0 70px;
}
#Kalyi02{
    background: #1E2023;
}
.textTittle{
    color: #FFFFFF;
    padding: 100px 0 10px 360px;
}
.tittle-back{
    position: relative;
    background: white;
    width: 1040px;
    height: 400px;
    border-radius: 15px;
    margin-left: 70px;
}
.img-title {
    position: absolute;
    right: 0;
    top: 0;
}
.tittle-back p{
    margin: 5px 0 0 30px;
}
.tittle-back h2{
    display: flex;
    padding: 60px 0 0 30px;
}
.birdie{
    display: flex;
    margin: 58px 0 106px -60px;
}
.birdie svg{
    display: flex;
    padding: 15px 0 0 70px;
}
.btn-tittle{
    width: 441px;
    height: 40px;
    margin-left: 50px;
    margin-top: -80px;
    background: #1A5CFF;
    box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
    border-radius: 15px;
    font-size: 18px;
    color: #FFFFFF;
}
#Kalyi03{
    background: #1E2024;
}
.text-email{
    color: #FFFFFF;
    padding: 100px 0 10px 500px;
}
.img-black{

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.text-black{
    position: absolute;
    top: 0;
    right: 20px;
}
.log{
    display: flex;
    margin: 100px 0 48px -100px;
}
.log svg{
    display: flex;
    padding: 19px 0 0 102px;
}
.btn_tittle{
    position: absolute;
    width: 441px;
    height: 40px;
    margin: 300px 0 -13px 564px;
    background: #1A5CFF;
    box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
    border-radius: 15px;
    font-size: 18px;
    color: #FFFFFF;
}















